
    <main>
        <form class="form">
            <p class="title">Modificar libro</p>
                <div class="flex">
                    <label>
                        <input required="" placeholder="" type="text" class="input" id="title" name="title" #input1>
                        <span>Título</span>
                    </label>
                    <label for="type" class="custom-label">
                        <select required id="type" name="type" #input2 class="input custom-select">
                          <option value="" disabled selected hidden></option>
                          <option value="tapa-dura">Tapa dura</option>
                          <option value="tapa-blanda">Tapa blanda</option>
                        </select>
                        <span>Tipo</span>
                      </label>
                </div>
                <label>
                    <input required="" placeholder="" type="text" class="input" id="author" name="author" #input3> 
                    <span>Autor</span>
                </label>
                <label>
                    <input required="" placeholder="" type="text" class="input" id="price" name="price" #input4>
                    <span>Precio</span>
                </label>
                <label>
                    <input required="" placeholder="" class="input" id="url" name="url" #input5>
                    <span>URL Foto</span>
                </label>
                <label>
                    <input required="" placeholder="" type="text" class="input" id="id_book" name="id_book" #input6>
                    <span>Código de libro</span>
                </label>
    
                <button type="button" (click)= "editarLibro(input1.value, input2.value, input3.value, input4.value, input5.value, input6.value)" class="submit">Modificar</button>
        </form>
    </main>
    
    