main{
    background-color: #f1eadc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card-container{
    gap: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 150vh;
}

.icon-container{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
}

.icon-container img{
    width: 100%;
    height: 100%;
}


h1{
    font-size: 32px;
    color: rgb(205, 44, 44);
    align-self: center;
    margin-top: 20px;
}

.card{
  height: 510px;
  width: 360px;
    margin: 20px;
    padding: 15px;
    background: var(--myColorVar3);
    padding: 20px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: smaller;
}

h2{
    margin-top: 10px;
    width: 350px ;
    color: var(--myColorVar);
}

h4{
    color: grey;
}

.url-container{
height: 40%;
width: 45%;
}

.url-container img{
    height: 100%;
    width: 100%;
}

.compra {
    border: none;
    outline: none;
    background-color: var(--myColorVar);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    align-content: center;
    margin-top: 16px;
}


  .compra:hover {
    background-color: var(--myColorVar);
  }
  
  .searchBox {
  display: flex;
  max-width: 230px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: var(--myColorVar);
  border-radius: 50px;
  position: relative;
  margin-bottom: 10px;
}

.searchButton {
  color: var(--myColorVar);
  position: absolute;
  right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: (--myColorVar3);
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
/*hover effect*/
button:hover {
  color: #fff;
  background-color: var(--myColorVar3);
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}
/*button pressing effect*/
button:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: var(--myColorVar3);
  font-size: 15px;
  padding: 24px 46px 24px 26px;
}  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: var(--myColorVar2);
  }
  
  button {
    border: none;
    outline: none;
    background-color: var(--myColorVar);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }

  .even-button{
    background-color: var(--myColorVar2);
  }
  
  .submit:hover {
    background-color: var(--myColorVar);
  }
