
    <div class="card-container">
        <div *ngIf= "myBooks.length ===0">
            <div class="icon-container">
                <img src="https://th.bing.com/th/id/OIG.xSvlK1g.PI5YDtHgcBi7?pid=ImgGn" alt="">
            </div>
            <h1>No hay libros disponibles!</h1><br>
            <h1>Vuelva mañana</h1>
        </div>
        <div *ngFor="let book of myBooks; let even = even">    
        <app-card [bookPadre]="book" [evenPadre]="even" [libro]="book"
        (eliminarLibroEvent)="eliminarLibro($event)"></app-card>  
    </div>

    <div class="cargarLibros">
        <form class="form">
            <p class="title">Añade libros</p>
                <div class="flex">
                    <label>
                        <input required="" placeholder="" type="text" class="input" id="title" name="title" #input1>
                        <span>Título</span>
                    </label>
                    <label for="type" class="custom-label">
                        <select required id="type" name="type" #input2 class="input custom-select">
                          <option value="" disabled selected hidden></option>
                          <option value="tapa-dura">Tapa dura</option>
                          <option value="tapa-blanda">Tapa blanda</option>
                        </select>
                        <span>Tipo</span>
                      </label>
                </div>
                <label>
                    <input required="" placeholder="" type="text" class="input" id="author" name="author" #input3> 
                    <span>Autor</span>
                </label>
                <label>
                    <input required="" placeholder="" type="text" class="input" id="price" name="price" #input4>
                    <span>Precio</span>
                </label>
                <label>
                    <input required="" placeholder="" class="input" id="url" name="url" #input5>
                    <span>URL Foto</span>
                </label>
                <label>
                    <input required="" placeholder="" type="text" class="input" id="id_book" name="id_book" #input6>
                    <span>Código de libro</span>
                </label>

                <button type="button" (click)= "cargarLibros(input1.value, input2.value, input3.value, input4.value, input5.value, input6.value)" class="submit">Añadir</button>
        </form>
    
    </div>

