
<form class="form">
    <p class="title">Regístrate</p>
    <p class="message">Regístrate ahora y accede a nuestra aplicación</p>
        <div class="flex">
        <label>
            <input required="" placeholder="" type="text" class="input">
            <span>Nombre</span>
        </label>

        <label>
            <input required="" placeholder="" type="text" class="input">
            <span>Apellidos</span>
        </label>
    </div>  
            
    <label>
        <input required="" placeholder="" type="email" class="input">
        <span>Email</span>
    </label> 
        
    <label>
        <input required="" placeholder="" type="password" class="input">
        <span>Contraseña</span>
    </label>
    <label>
        <input required="" placeholder="" type="password" class="input">
        <span>Confirma contraseña</span>
    </label>
    <button class="submit">Envía</button>
    <p class="signin">¿Ya tienes una cuenta? <a href="#">Accede</a> </p>
</form>
